<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
  </head>
  <body>
    <h1>Product Details of: <%= foundProduct.name %></h1>
    <ul>
      <li>Name: <%= foundProduct.name %></li>
      <li>Price: $<%= foundProduct.price %></li>
      <li>Category: <%= foundProduct.category %></li>
    </ul>
    <a href="/products/<%= foundProduct._id %>/edit">Edit this item</a>
    <a href="/products">Go Back to all Products</a>

  </body>
</html>